<div class="container">
    <a routerLink="/product-create" class="btn btn-primary">Add</a>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th width="10px">Thao tác</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products">
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <img src="{{item.image}}" alt="" width="100px">
                    </td>
                    <th><button class="btn btn-danger" (click)="onDelete(item.id)">Xóa</button></th>
                    <th><a routerLink="/product-update/{{item.id}}" class="btn btn-warning">Sửa</a></th>
                </tr>
            </tbody>
    </table>
</div>
