<div class="container">
    <form [formGroup]="productFormUpdate" action="" method="POST"  (ngSubmit)="onUpdate()" >
        <h2>Form Sửa</h2>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" placeholder="Nhập name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="">Giá</label>
            <input type="text" class="form-control" placeholder="Nhập giá" formControlName="price">
        </div>
        <div class="form-group">
            <label for="">Ảnh</label>
            <input type="input" class="form-control" formControlName="image" placeholder="Nhập hình">
        </div>
        <div class="mb-2">
            <button type="submit" value="SUBMIT" class="btn btn-primary">SỬA</button>
        </div>
    </form>
</div>
