<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="logo" routerLink="/"><img src="assets/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="design.html">Our Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/product-list">Admin</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="search_icon">
                        <ul>
                            <li><a href="#"><img src="assets/images/search-icon.png"></a></li>
                            <li><a href="#"><img src="assets/images/user-icon.png"></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>

<app-banner></app-banner>